<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='{{ static_url("css/main.css") }}' rel="stylesheet">
    <title>{{ title }}</title>
</head>
<body>
    <div id="main">
        <div>
            <img src="{{ img_url }}">
            <span>{{ title }}</span>
        </div>
        <table>
            <tr>
                <td>活动时间: </td>
                <td>{{ start_date }} - {{ end_date }}</td>
            </tr>
            <tr>
                <td>开放时间: </td>
                <td>{{ start_time }} - {{ end_time }}</td>
            </tr>
            <tr>
                <td>地点: </td>
                <td>{{ place }}</td>
            </tr>
            <tr>
                <td>活动详情: </td>
                <td>{{ detail }}</td>
            </tr>
        </table>
    </div>


</body>
</html>