<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/main.css" rel="stylesheet">
    <title>校园跑</title>
</head>
<body>
    <div id="main">
        <div>
            <img src="../static/img/activity/0.jpg">
            <span>校园跑</span>
        </div>
        <table>
            <tr>
                <td>活动时间: </td>
                <td>04-22 - 04-22</td>
            </tr>
            <tr>
                <td>开放时间: </td>
                <td>8:00 - 12:00</td>
            </tr>
            <tr>
                <td>地点: </td>
                <td>8:00 - 12:00</td>
            </tr>
        </table>
    </div>


</body>
</html>